html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#app {
  background-color: antiquewhite;
  margin: 0 auto;
  margin-top: 2rem;
  width: 90%;
  display: grid;
  grid-template-columns: 2fr fit-content(100%) 2fr;
  grid-column-gap: 2px;
  padding-bottom: 1rem;
}

#left {
  padding: 0.6rem;
  margin-top: 2rem;
}

#board {
  padding: 1rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(7, fit-content(60%));
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 4px;

  border: 1px solid gray;
  border-radius: 5px;
  background-color: tomato;
}

.cell {
  width: 3rem;
  height: 3rem;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  padding: 1rem;
  line-height: 3rem;
  background-color: antiquewhite;
}

.cell[data-color="red"] {
  background-color: red;
}
.cell[data-color="blue"] {
  background-color: blue;
}

.cell[data-toprow="true"] {
  border-width: 2px;
  cursor: pointer;
}
